# pylib
dendropy
opytional
pandas

# qa
black==22.10.0
pytest
ruff
tqdm
joinem

# binder
alifedata_phyloinformatics_convert==0.16.2
biopython
hstrat==1.11.1
git+https://github.com/mmore500/hstrat-surface-concept.git@v0.3.0#egg=hsurf
ipykernel
more_itertools
nb-clean
joblib==1.3.2
jupyter
teeplot
watermark==2.4.3
